datatalent:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: "{{ env_var('DBT_PROJECT_ID', 'datatalent-glaq-2') }}"
      dataset: staging
      location: europe-west1
      threads: 4
      maximum_bytes_billed: 10000000000
