# Python
__pycache__/
*.pyc
.venv/

# Environnement
.env

# dbt
dbt/profiles.yml
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# Terraform
infra/terraform.tfvars
infra/.terraform/
infra/*.tfstate*
infra/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store

#Quentin    
dataexplo.ipynb
ingestion/sirene/data/